<!DOCTYPE html>
<html>
<head>
  <title>Webhook</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
  <h5>Webhooks</h5>
  <ul>
    <li><pre><%= JSON.pretty_generate($output) %></pre></li>
  </ul>
</body>
</html>
