<!DOCTYPE html>
<html>
<head>
  <title>Webhook</title>
  <!-- shoutout to matti for this trick -->
  <meta http-equiv="refresh" content="15">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <style>
  h5 {
    margin-left: 20px;
    text-decoration: underline;
  }
  </style>
</head>
<body>
  <h5>Webhooks</h5>
  <% $output.each do |t| %>
    <pre><code><%= JSON.pretty_generate(t) %></code></pre><hr>
  <% end %>
</body>
</html>
